<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.BoardDAO">

	<select id="getMainList" resultType="MainDTO">
		SELECT
				CAT_DOMAIN
				,TTL
				,CRT_TM
		FROM
				(
		SELECT
				CAT_DOMAIN
				,TTL
				,CRT_TM
				,ROW_NUMBER() OVER(PARTITION BY
				CAT_DOMAIN ORDER BY CRT_TM DESC) IDX
		FROM
				TB_BOARD
				) MAIN
		WHERE
				IDX <![CDATA[<=]]> 10
	</select>

	<select id="totalCountByCat" parameterType="String" resultType="Integer">
		SELECT
				COUNT(*)
		FROM
				TB_BOARD
		WHERE
				CAT_DOMAIN = #{catDomain}
	</select>

	<select id="totalCountByBoard" parameterType="Integer" resultType="Integer">
		SELECT
				COUNT(*)
		FROM
				TB_REPLY
		WHERE
				BOARD_NUM = #{boardNum}
	</select>

	<select id="getBoardList" parameterType="BoardSearchDTO" resultType="BoardDTO">
		SELECT
				BOARD.*
		FROM
				(
				SELECT
				BOARD_NUM
				,CAT_DOMAIN
				,CREATOR
				,TTL
				,CN
				,VIEW_CNT
				,RPL_CNT
				,CRT_TM
				,UP_TM
				,ROW_NUMBER() OVER(ORDER BY CRT_TM DESC)
				IDX
		FROM
				TB_BOARD
		WHERE
				CAT_DOMAIN = #{catDomain}
				) BOARD
		WHERE
				IDX
		BETWEEN
				#{startIdx}
		AND
				#{endIdx}
	</select>

	<insert id="insertBoard" parameterType="BoardDTO">
		INSERT INTO
				TB_BOARD
				(
				BOARD_NUM
				,CAT_DOMAIN
				,CREATOR
				,TTL
				,CN
				,VIEW_CNT
				,RPL_CNT
				,CRT_TM
				,UP_TM
				,PW
				)
		VALUES
				(
				TB_BOARD_SEQ.NEXTVAL
				,#{catDomain}
				,#{creator}
				,#{ttl}
				,#{cn}
				,#{viewCnt}
				,#{rplCnt}
				,SYSDATE
				,SYSDATE
				,#{pw}
				)
	</insert>

	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE
				TB_BOARD
		SET
				CN = #{cn}
				,UP_TM = SYSDATE
		WHERE
				BOARD_NUM = #{boardNum}
		AND
				PW = #{pw}
	</update>

	<delete id="deleteBoard" parameterType="BoardDTO">
		DELETE
		FROM
				TB_BOARD
		WHERE
				BOARD_NUM = #{boardNum}
		AND
				PW = #{pw}
	</delete>

	<select id="searchBoardBasic" parameterType="BoardSearchDTO" resultType="BoardDTO">
		SELECT
				BOARD.*
		FROM
				(
		SELECT
				BOARD_NUM
				,CAT_DOMAIN
				,CREATOR
				,TTL
				,CN
				,VIEW_CNT
				,RPL_CNT
				,CRT_TM
				,UP_TM
				,ROW_NUMBER() OVER(ORDER BY CRT_TM DESC) AS IDX
		FROM
				TB_BOARD
		WHERE
				CAT_DOMAIN = #{catDomain}
		AND
				#{target}
		LIKE
		CONCAT
		(CONCAT
				('%', #{keyword}),
				 '%')
				)
				BOARD
		WHERE
				IDX
		BETWEEN
				#{startIdx}
		AND
				#{endIdx}
	</select>

	<select id="searchBoardComplex" parameterType="BoardSearchDTO" resultType="BoardDTO">
		SELECT
				BOARD.*
		FROM
				(
		SELECT
				BOARD_NUM
				,CAT_DOMAIN
				,CREATOR
				,TTL
				,CN
				,VIEW_CNT
				,RPL_CNT
				,CRT_TM
				,UP_TM
				,ROW_NUMBER() OVER(ORDER BY CRT_TM DESC) AS IDX
		FROM
				TB_BOARD
		WHERE
				CAT_DOMAIN = #{catDomain}
		AND
				(
		TTL
		LIKE
		CONCAT
		(CONCAT
				('%', #{keyword}),
				 '%')
		OR
		CN
		LIKE
		CONCAT
		(CONCAT
				('%', #{keyword}),
				 '%')
				)
				)
				BOARD
		WHERE
				IDX
		BETWEEN
				#{startIdx}
		AND
				#{endIdx}
	</select>

	<select id="searchBoardAll" parameterType="BoardSearchDTO" resultType="BoardDTO">
		SELECT
				BOARD.*
		FROM
				(
		SELECT
				BOARD_NUM
				,CAT_DOMAIN
				,CREATOR
				,TTL
				,CN
				,VIEW_CNT
				,RPL_CNT
				,CRT_TM
				,UP_TM
				,ROW_NUMBER() OVER(ORDER BY CRT_TM DESC) AS IDX
		FROM
				TB_BOARD
		WHERE
				CAT_DOMAIN = #{catDomain}
		AND
				(
				CREATOR
		LIKE
		CONCAT
		(CONCAT
				('%', #{keyword}),
				 '%')
		OR
				TTL
		LIKE
		CONCAT
		(CONCAT
				('%', #{keyword}),
				 '%')
		OR
				CN
		LIKE
		CONCAT
		(CONCAT
				('%', #{keyword}),
				 '%')
				)
				)
				BOARD
		WHERE
				IDX
		BETWEEN
				#{startIdx}
		AND
				#{endIdx}
	</select>

	<update id="updateView" parameterType="BoardDetailDTO">
		UPDATE
				TB_BOARD
		SET
				VIEW_CNT = VIEW_CNT + 1
		WHERE
				BOARD_NUM = #{boardNum}
	</update>

	<select id="boardDetail" parameterType="BoardDetailDTO" resultType="BoardDetailDTO">
		SELECT
				BOARD_NUM
				,CAT_DOMAIN
				,CREATOR
				,TTL
				,CN
				,VIEW_CNT
				,RPL_CNT
				,CRT_TM
				,UP_TM
		FROM
				TB_BOARD
		WHERE
				BOARD_NUM = #{boardNum}
	</select>

	<select id="replyList" parameterType="BoardSearchDTO" resultType="ReplyDTO">
		SELECT
				IDX,
				REPLY.*
		FROM
				(
		SELECT
				RPL_NUM
				,BOARD_NUM
				,ID
				,RPL_CN
				,CRT_TM
				,UP_TM
				,DEPTH
				,PW
				,PARENT_RPL
				,CONNECT_BY_ROOT RPL_NUM AS "START_RPLNUM"
				,ROW_NUMBER() OVER(ORDER BY CRT_TM ASC) AS IDX
		FROM
				TB_REPLY
		WHERE
				BOARD_NUM = #{catDomain}
		START WITH
				PARENT_RPL = 0
		CONNECT BY
		PRIOR
				RPL_NUM = PARENT_RPL
		ORDER SIBLINGS BY
				CRT_TM ASC
				)
				"REPLY"
		WHERE
				IDX
		BETWEEN
				#{startIdx}
		AND
				#{endIdx}
	</select>

	<insert id="backUpBoard" parameterType="BoardDTO">
		INSERT INTO
				TB_DEL_BOARD
				(
				BOARD_NUM
				,CAT_DOMAIN
				,CREATOR
				,TTL
				,CN
				,VIEW_CNT
				,RPL_CNT
				,CRT_TM
				,UP_TM
				)
		VALUES
				(
				#{boardNum}
				,#{catDomain}
				,#{creator}
				,#{ttl}
				,#{cn}
				,#{viewCnt}
				,#{rplCnt}
				,#{crtTm}
				,SYSDATE
				)
	</insert>

	<update id="plusCountCategoryboardCnt" parameterType="BoardDTO">
		UPDATE
				TB_CATEGORY
		SET
				RPL_CNT = RPL_CNT + 1
		WHERE
				CAT_DOMAIN = #{catDomain}
	</update>

	<update id="minusCountCategoryboardCnt" parameterType="BoardDTO">
		UPDATE
				TB_CATEGORY
		SET
				RPL_CNT = RPL_CNT - 1
		WHERE
				CAT_DOMAIN = #{catDomain}
	</update>

</mapper>