<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.ManagerDAO">
	<update id="changeSubManager" parameterType="MbSessionDTO">
		UPDATE
		MP_MB_ROLE
		SET
		ROLE_NUM = #{roleNum}
		CAT_DOMAIN =#{catDomain}
		WHERE
		ID = #{id}
	</update>

	<delete id="deleteBoardNumList" parameterType="BoardDTO">
		DELETE
		FROM
		TB_BOARD
		WHERE
		BOARD_NUM = #{boardNum}
	</delete>

	<insert id="deleteBoardBackup" parameterType="BoardDTO">
		INSERT INTO
		TB_DEL_BOARD
		(
		BOARD_NUM
		,CAT_DOMAIN
		,CREATOR
		,TTL
		,CN
		,VIEW
		,RPL_CNT
		,CRT_TM
		,UP_TM
		)
		VALUES
		(
		#{boardNum}
		,#{catDomain}
		,#{creator}
		,#{ttl}
		,#{cn}
		,#{view}
		,#{rplCnt}
		,#{crtTm}
		,SYSDATE
		)
	</insert>

	<delete id="deleteReplyNum" parameterType="ReplyDTO">
		DELETE
		FROM
		TB_REPLY
		WHERE
		RPL_NUM = #{rplNum}
	</delete>

	<insert id="deleteReplyBackup" parameterType="ReplyDTO">
		INSERT INTO
		TB_DEL_REPLY
		(
		RPL_NUM
		,BOARD_NUM
		,ID
		,RPL_CN
		,CRT_TM
		,UP_TM
		,PW
		,PARENT_RPL
		,DEPTH
		)
		VALUES
		(
		,#{rplNum}
		,#{id}
		,#{rplCn}
		,#{crtTm}
		,SYSDATE
		,#{pw}
		,#{parentRpl}
		,#{depth}
		)
	</insert>

	<update id="setRplCnNull" parameterType="ReplyDTO">
		UPDATE
		TB_DEL_REPLY
		SET
		RPL_CN = {rplCn}
		WHERE
		RPL_NUM = #{rplNum}
	</update>

	<select id="selectMng" parameterType="CheckRightCatDTO" resultType="Integer">
		SELECT
		ROLE_NUM
		FROM
		MP_MB_ROLE
		WHERE
		CAT_DOMAIN = #{catDomain}
		AND
		ID = #{id}
	</select>
</mapper>